<div class="btn-group btn-group-toggle">
  <button class="btn btn-success" (click)="setCategory('')">All</button>
  <button class="btn btn-success" (click)="setCategory('Personal')">Personal</button>
  <button class="btn btn-success" (click)="setCategory('Work')">Work</button>
</div>
<h3>{{category}}</h3>
<div class="list-group">
  <a (click)="toggle(item)" *ngFor="let item of tasks" [appStrike]="item.complete" href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    {{item.name}}
    <span class="badge badge-primary badge-pill">{{item.numTasks}}</span>
  </a>
</div>
<button routerLink="/create" class="btn btn-success">New Task</button>